:root {
  --main-color: #4361ee;
  --sec-color: #333d6c;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.navbar-brand {
  font-family: "Dosis", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: var(--sec-color) !important;
}

.active {
  color: var(--main-color) !important;
}

.present {
  padding: 80px 0 100px;
  background-color: #fff;
}

.headingText {
  color: var(--sec-color);
  font-size: 40px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}

@media (max-width: 1399px) {
  .headingText {
    font-size: 35px;
  }
}

@media (max-width: 1199px) {
  .headingText {
    font-size: 30px;
  }
}

@media (max-width: 530px) {
  .headingText {
    font-size: 25px;
  }
}

/* ------- -------------- */

.btn {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  background-color: var(--sec-color);
  box-shadow: 0px 8px 40px 0 rgb(0 0 0 / 37%);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
  letter-spacing: 1px;
  border-radius: 5px 5px;
  margin: 10px 10px 0 10px 0;
  padding: 15px;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.about {
  border: 1px solid #efefef;
  padding: 50px 0 50px;
  background: #fafbfc;
}

.aboutText {
  color: var(--sec-color);
  font-size: 36px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

@media (max-width: 767px) {
  .aboutText {
    font-size: 30px;
  }
}

@media (max-width: 376px) {
  .aboutText {
    font-size: 25px;
  }
}

.descText {
  margin-bottom: 30px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  font-size: 18px;
}

@media (max-width: 530px) {
  .descText {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .headingText {
    font-size: 20px;
  }
  .descText {
    font-size: 12px;
  }
}

@media (max-width: 324px) {
  .headingText {
    font-size: 16px;
  }
  .descText {
    font-size: 11px;
  }
}

.about-card {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.about-card::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--main-color);
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

.about-card:hover::after {
  width: 100%;
}

.icon {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--main-color);
}

.about-card-heading {
  font-size: 26px;
  color: #292929;
  margin-bottom: 15px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

@media (max-width: 1399px) {
  .about-card-heading {
    font-size: 22px;
  }
}

.about-card-desc {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 25px;
  padding: 0 10px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1199px) {
  .about-card-desc {
    font-size: 12.5px;
  }
}

.about-btn {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--sec-color);
  letter-spacing: 1px;
  border-radius: 5px 5px;
  border: 1px solid var(--main-color);
  margin: 10px 10px 0 10px 0;
  padding: 20px 30px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.about-btn:hover {
  color: #fff !important;
  background: var(--main-color);
}

.showcases {
  background-color: #eff2f5;
  padding: 80px 0;
}

.showCaseHeadingText {
  font-size: 36px;
  color: var(--sec-color);
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}

.showCaseText {
  line-height: 28px;
  color: #7c8595;
  font-size: 16px;
}

swiper-container {
  width: 76%;
  height: 586px;
  color: #000;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  width: 100%;
  height: 100%;
}

.project-slider .img {
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 426px) {
  .mySwiper {
    height: 190px;
  }
}

@media (max-width: 321px) {
  .mySwiper {
    height: 95px;
  }
}

@media (max-width: 769px) {
  /* .project-slider .img {
    width: 80%;
  } */
  swiper-container {
    height: 232px;
  }
}

@media (max-width: 1024px) {
  swiper-container {
    height: 367px;
  }
}

@media (max-width: 1441px) {
  /* .project-slider .img {
    width: 60%;
  } */
}

.features {
  padding: 90px 0 70px;
}

.features .card {
  margin-top: 2rem;
  border: none;
  box-shadow: rgb(17 12 46 / 5%) 3px -1px 20px 0px;
  padding: 2rem;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  transition: all 0.3s linear;
}

.card:hover::after {
  width: 100%;
}

.features .feature-icon {
  margin-bottom: 1rem;
}

.features .feature-icon .fa {
  color: var(--main-color);
  font-size: 2.2rem;
}

.features .card h5 {
  font-family: var(--heading-font);
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Dosis", sans-serif;
}

.features .card p {
  color: #7c8595;
  line-height: 1.7;
}

@media (max-width: 1020px) {
  .features .card p {
    font-size: 12.5px;
  }
}

.testi-slider {
  flex-direction: column;
}

.testi-slider .testi-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.testi-slider .testi-parag {
  font-size: 18px;
  line-height: 32px;
  font-style: italic;
  margin-top: 20px;
  color: #7c8595;
  width: 50%;
}

@media (max-width: 991px) {
  .testi-slider .testi-parag {
    font-size: 14px;
    width: 100%;
  }
}

.testi-heading {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--sec-color);
}

.job-desc {
  font-size: 19px;
  font-weight: 400;
}

.contact {
  padding: 100px 0;
}

.contact h3 {
  font-family: "Dosis", sans-serif;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--sec-color);
}

.contact .form-control {
  width: 100%;
  height: 55px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 23px;
  color: #727272;
  background-color: #f6f7f8;
  border: 1px solid #ececec !important;
  font-size: 14px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.contact textarea {
  height: 200px !important;
}

::placeholder {
  color: #aeaeae !important;
}

.list-group-item {
  border: none;
  display: flex;
  align-items: center;
}

.list-group-item .fa {
  font-size: 1.1rem;
  color: var(--main-color);
  flex: 0.05;
}

.list-group-item span,
.list-group-item a {
  text-decoration: none;
  flex: 1;
  margin-left: 10px;
  color: #727272;
  font-weight: 400;
}

.contact img {
  max-width: 100%;
  margin-bottom: 1.1rem;
}

.footer {
  background-color: var(--sec-color);
  padding: 40px 0;
}

.footerText {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
  font-family: "Dosis", sans-serif;
}

.footerTextLink {
  color: #fff;
}
