html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.navbar-brand {
  font-family: "Dosis", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #3b64d2 !important;
}

.navbar-toggler {
  border: 1px solid #1089d4;
}

.navbar-toggler-icon {
  color: #1089d4 !important;
}

.active {
  color: #1089d4 !important;
}

.present {
  padding: 80px 0 100px;
  background-color: #fff;
}

.headingText {
  color: #071e55;
  font-size: 46px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}

.descText {
  margin-bottom: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #405263;
}

.btn {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  background-color: #1089d4;
  box-shadow: 0px 8px 40px 0 rgb(0 0 0 / 37%);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
  letter-spacing: 1px;
  border-radius: 5px 5px;
  margin: 10px 10px 0 10px 0;
  padding: 20px 30px;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.about {
  border: 1px solid #efefef;
  padding: 90px 0 100px;
  background: #fafbfc;
}

.aboutText {
  color: #071e55;
  font-size: 36px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.descText {
  margin-bottom: 30px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  font-size: 18px;
}

.about-card {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
}

.about-card::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #1089d4;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.about-card:hover::after {
  width: 100%;
}

.icon {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #1089d4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-card-heading {
  font-size: 26px;
  color: #292929;
  margin-bottom: 15px;
}

.about-card-desc {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 25px;
  padding: 0 10px;
  font-family: "Open Sans", sans-serif;
}

.about-btn {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #1089d4;
  letter-spacing: 1px;
  border-radius: 5px 5px;
  border: 1px solid #1089d4;
  margin: 10px 10px 0 10px 0;
  padding: 20px 30px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.about-btn:hover {
  color: #fff !important;
  background: #3498db;
}

.showcases {
  background-color: #1e90ff;
  color: #fff;
  padding: 80px 0;
}

.showCaseHeadingText {
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.showCaseText {
  margin-bottom: 30px;
  line-height: 28px;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
}

swiper-container {
  width: 100%;
  height: 400px;
  color: #000;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features {
  padding: 90px 0 70px;
}

.features .card {
  margin-top: 2rem;
  border: none;
  box-shadow: rgb(17 12 46 / 5%) 3px -1px 20px 0px;
  padding: 2rem;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #3b64d2;
  transition: all 0.3s linear;
}

.card:hover::after {
  width: 100%;
}

.features .feature-icon {
  margin-bottom: 1rem;
}

.features .feature-icon .fa {
  color: #3b64d2;
  font-size: 2.2rem;
}

.features .card h5 {
  font-family: var(--heading-font);
  font-size: 1.4rem;
  font-weight: 600;
}

.features .card p {
  color: #7c8595;
  line-height: 1.7;
}

.testi-slider {
  flex-direction: column;
}

.testi-slider .testi-img {
  width: 9%;
  border-radius: 50%;
  height: 34%;
  object-fit: cover;
  border: 2px solid #fff;
}

.testi-slider .testi-parag {
  font-size: 20px;
  line-height: 32px;
  font-style: italic;
  margin-top: 20px;
  color: #7c8595;
  width: 50%;
}

.testi-heading {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #1e90ff;
}

.job-desc {
  font-size: 19px;
  font-weight: 400;
}

.contact {
  padding: 100px 0;
}

.contact h3 {
  font-family: var(--heading-font);
  margin-bottom: 1rem;
  font-weight: 700;
  color: #071e55;
}

.contact .form-control {
  width: 100%;
  height: 55px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 23px;
  color: #727272;
  background-color: #f6f7f8;
  border: 1px solid #ececec !important;
  font-size: 14px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.contact textarea {
  height: 200px !important;
}

::placeholder {
  color: #aeaeae !important;
}

.list-group-item {
  border: none;
  display: flex;
  align-items: center;
}

.list-group-item .fa {
  font-size: 1.1rem;
  color: #1089d4;
  flex: 0.05;
}

.list-group-item span,
.list-group-item a {
  text-decoration: none;
  flex: 1;
  margin-left: 10px;
  color: #727272;
  font-weight: 400;
}

.contact img {
  max-width: 100%;
  margin-bottom: 1.1rem;
}

.footer {
  background-color: #1e90ff;
  padding: 40px 0;
}

.footerText {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}

.footerTextLink {
  color: #fff;
}
